<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="app/assets/stylesheets/beer_box.css">
    
<title>Beerdraft</title>
</head>
<body>
<br>
<%= button_to "Add a beer!", new_beer_path, method: :get %>
<br>
    <div class = "beer_header">
    </div>
        <div class="row">
        <div class="column_rev1"; >
                <div class = "beer_list3">
                <h1>Beers</h1>
                    <ul>             
                        <% @beers.each do |b| %>
                            <li>
                            <%= link_to b.name, beer_path(b) %>  <br>
                            by <%= b.brand %> <br><br>
                            </li>
                        <%end%>                   
                    </ul>       
                </div>
        </div>
        <div class="column";>
        <div class = "beer_list3">
        <h1> Top Ten Rated Beers </h1>
        <% Beer.top_beers.each do |b| %>
            <ul>
                <li>
                    <%= b.name %> rated <%= b.average_rating.round %><br>                
                </li>
            </ul>
        <% end %>
        </div>
</body>





 


  


  
  